includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	level: 8
	phpVersion: 80300
	paths:
		- src
		- tests
	excludePaths:
		- tests/Fixtures
		- tests/Integration/Fixtures
		- tests/Helper
	tmpDir: var/phpstan
	ignoreErrors:
		# Ignore missing typehints from arrays (replaces deprecated checkMissingIterableValueType)
		-
			identifier: missingType.iterableValue
	bootstrapFiles:
		- vendor/autoload.php
	scanDirectories:
		- vendor/
