            <div class="section">
                <h2>Risikoverteilung</h2>
                <table style="width: 100%; border: none; box-shadow: none; table-layout: fixed; border-collapse: collapse;">
                    <tr>
                        <td style="width: 25%; text-align: center; padding: 10px; border: none; vertical-align: top;">
                            <p style="color: #28a745; font-size: 2em; font-weight: bold; margin: 0;">{{ statistics.risk_distribution.low }}</p>
                            <p style="color: #666; margin: 5px 0 0 0; font-size: 0.9em;">Niedriges Risiko</p>
                        </td>
                        <td style="width: 25%; text-align: center; padding: 10px; border: none; vertical-align: top;">
                            <p style="color: #ffc107; font-size: 2em; font-weight: bold; margin: 0;">{{ statistics.risk_distribution.medium }}</p>
                            <p style="color: #666; margin: 5px 0 0 0; font-size: 0.9em;">Mittleres Risiko</p>
                        </td>
                        <td style="width: 25%; text-align: center; padding: 10px; border: none; vertical-align: top;">
                            <p style="color: #fd7e14; font-size: 2em; font-weight: bold; margin: 0;">{{ statistics.risk_distribution.high }}</p>
                            <p style="color: #666; margin: 5px 0 0 0; font-size: 0.9em;">Hohes Risiko</p>
                        </td>
                        <td style="width: 25%; text-align: center; padding: 10px; border: none; vertical-align: top;">
                            <p style="color: #dc3545; font-size: 2em; font-weight: bold; margin: 0;">{{ statistics.risk_distribution.critical }}</p>
                            <p style="color: #666; margin: 5px 0 0 0; font-size: 0.9em;">Kritisches Risiko</p>
                        </td>
                    </tr>
                </table>
            </div>
